/* Font Family Style Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Head Section CSS Starts */
.head-container {
  width: 100vw;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.top-head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00306e;
  padding: 0px 50px 0px 20px;
}
.top-left-head {
  width: 50%;
  height: 40px;
  line-height: 40px;
}
.top-right-head {
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: end;
}
.top-left-head a,
.top-right-head a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0px 4px;
}
.bottom-head {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0px 20px 0px 20px;
}
.logo {
  width: 20%;
  height: 60px;
  line-height: 56px;
  text-align: center;
}
.logo img {
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.nav {
  width: 50%;
  height: 60px;
  padding: 0px 20px;
}
.nav-ul {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-li a {
  color: #0d6efd;
  font-size: 16px;
  text-decoration: none;
  line-height: 60px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
}
#nav-btn a,
#nav-eq-btn a {
  color: #fff;
  padding: 8px;
  border-radius: 7px;
  font-size: 18px;
  background: #00306e;
  cursor: pointer;
  transition: background 1s ease-in-out;
}
#nav-btn a:hover,
#nav-eq-btn a:hover {
  background: #fd7e14;
}
#drop-box {
  position: relative;
  z-index: 999;
}
.drop-down {
  width: 300px;
  height: 190px;
  background-color: rgb(246, 246, 246);
  position: absolute;
  top: 50px;
  left: 0px;
  cursor: pointer;
  display: none;
}
.drop-down-li {
  z-index: 999;
  padding: 0px 10px;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.6s ease-in-out;
}
#drop-box:hover .drop-down {
  display: block;
}
.drop-down-li a {
  font-size: 1rem;
  line-height: 30px;
  height: 50px;
  color: black;
}
.drop-down-li:hover {
  transform: translate(1%);
}
.drop-down-li a {
  transition: all 0.6s ease-in-out;
}
.drop-down-li a:hover {
  transform: translate(1%);
  color: red;
}
.menu {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f6f6f6;
  padding: 15px 10px;
  display: none;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #00306e;
}
#bar1 {
  transform: translateY(-4px);
  width: 100%;
}
#bar3 {
  transform: translateY(4px);
  width: 100%;
  margin: 0px auto;
}
#bar2 {
  width: 50%;
  margin: 0px auto;
}
/* Head Section CSS Ends */

/* Slider Section CSS Starts */
.slider {
  margin-top: 105px;
}
/* Slider Section CSS ends */

/* Trends Box Section CSS Starts */
.trend-course {
  width: 100vw;
  height: 720px;
  margin: 10px 0px;
}
.primary-para {
  width: 100vw;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline 5px #fd7e14;
  text-transform: uppercase;
  font-weight: 600;
}
.trending-top-box {
  width: 90%;
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}
.trending-bottom-box {
  width: 90%;
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  display: none;
}
#box1,
#box2,
#box3,
#box4 {
  position: relative;
}
#btn {
  position: absolute;
  top: 47.5%;
  right: 0%;
  width: 35px;
  height: 35px;
  background-color: #00306e;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}
.box {
  width: 21%;
  height: 300px;
  position: relative;
}
.box img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  box-shadow: 1px 1px 4px grey;
}
.empty-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
  background: #212529;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 4px grey;
}
.empty-box h2 {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.empty-box p {
  padding: 10px 5px;
  font-size: 12px;
  margin-top: 10px;
}
.empty-box button {
  background: #00306e;
  font-size: 18px;
  border-radius: 20px;
  height: 40px;
  width: 50%;
  white-space: nowrap;
  margin: 10px 60px;
  padding: 0px 10px;
  outline: none;
  border: none;
}
.empty-box button a {
  color: white;
  text-decoration: none;
}
.box .empty-box:hover {
  opacity: 0.9;
}
.box img:hover {
  opacity: 1;
}
/* Trends Box Section CSS Ends */

/* Our services Section CSS Starts */
.our-service {
  width: 100vw;
  height: 720px;
}
.our-service-box {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 650px;
}
.service-box {
  width: 26%;
  height: 280px;
  text-align: center;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 10px;
  overflow: hidden;
}
.service-box i {
  color: #00306e;
  font-size: 2rem;
  margin-top: 10px;
}
.service-box h2 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.service-box p {
  font-size: 13px;
  padding: 10px 5px;
}
.service-box button {
  border: none;
  margin: 10px 0px;
  background-color: #00306e;
  height: 40px;
  width: 40%;
  border-radius: 10px;
}
.service-box button a {
  color: white;
  text-decoration: none;
}
.service-box:hover {
  box-shadow: 2px 2px 3px 2px grey;
}
.service-box h2:hover {
  transform: scale(1.1, 1.2);
  color: #0d6efd;
}
/* Our Services Section CSS Ends */

/* First Hero Page CSS Starts */
.hero {
  width: 100vw;
  height: 430px;
}
/* First Hero Page CSS Ends */

/* Sucesss Ratio Section CSS Starts */
.success-ratio {
  width: 100vw;
  height: 300px;
}
.success-ratio-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 200px;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 3px grey;
}
.srbox {
  width: 20%;
  height: 100%;
  text-align: center;
  color: #00306e;
  overflow: hidden;
}
.srbox i {
  margin-top: 20px;
  font-size: 2rem;
}
.srbox p {
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}
.srbox h5 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
}
/* Success Ration CSS Ends */

/* Student Testinomial Section CSS Starts*/
.student-testinomial {
  width: 100vw;
  height: 500px;
}
.student {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 380px;
  margin: 30px auto;
}
.border {
  background-color: #fd7e14;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 26%;
  height: 380px;
  margin: 10px auto;
}
.student-box1 {
  box-shadow: 2px 2px 4px 2px grey;
  border-top-right-radius: 70px;
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}
.student-box1 img {
  padding: 10px;
}
.student-box1 h5 {
  position: absolute;
  top: 20px;
  left: 120px;
}
.student-box1 h3 {
  position: absolute;
  top: 50px;
  left: 120px;
  font-size: 14px;
  font-weight: 500;
}
.student-box1 p {
  font-size: 14px;
  padding: 10px 15px;
  text-align: justify;
}
#box4 {
  display: none;
}
.prevbtn {
  position: absolute;
  top: 47.5%;
  left: 0%;
  width: 35px;
  height: 35px;
  background-color: #00306e;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}
.nxtbtn {
  position: absolute;
  top: 47.5%;
  right: 0%;
  width: 35px;
  height: 35px;
  background-color: #00306e;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}
/* Student Testinomial Section CSS Ends */

/* Our Associates Section CSS Starts */
.our-associates {
  width: 100vw;
  height: 430px;
}
.our-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 350px;
  margin: 0px auto;
  box-shadow: 2px 1px 3px 2px grey;
  overflow: hidden;
}
.text {
  width: 40%;
  height: 100%;
  padding: 10px 20px;
}
.text h3 {
  font-size: 1rem;
}
.text h2 {
  font-size: 2.5rem;
}
.text p {
  font-size: 0.9rem;
  text-align: justify;
}
.images {
  width: 60%;
  height: 100%;
}
.images img {
  width: 35%;
  height: auto;
}
/* Our Associates Section CSS Ends */

/*Hero Second Section CSS Starts */
.hero1 {
  width: 100vw;
  height: 430px;
}
.hero1 img {
  width: 100%;
  height: auto;
}
/*Hero2 Section CSS Ends */

/* FQA Section CSS Starts */
.fqa {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.ques {
  width: 90%;
  color: #0c63e4;
  margin: 10px auto;
  padding: 10px 10px;
  background-color: #e7f1ff;
  cursor: pointer;
}
.answer {
  width: 90%;
  background-color: #fff;
  margin: 0px auto;
  font-size: 0.8rem;
  box-shadow: 0 -1px 0 rgb(0 0 0 / 13%) inset;
}
p {
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.5px;
}
p a {
  color: black;
}
/* FQA Section CSS Ends */

/* Footers Section Starts */
.bottom-links {
  background-color: #00306e;
  width: 100%;
  height: 300px;
  margin: 0px 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  padding: 0px 30px;
  overflow: hidden;
}
.link-box1 {
  width: 20%;
  height: 100%;
  text-align: left;
}
.foot-img {
  width: 100%;
  width: 100%;
  height: 100px;
}

.link-box1 img {
  width: 50%;
  height: 100%;
}

.link-box1 h2 {
  padding: 5px 2px;
  font-size: 13px;
  margin-top: -30px;
}

.link-box1 h3 {
  padding: 5px 2px;
  font-size: 18px;
}

.mail,
.call {
  width: 100%;
  padding: 5px 5px;
  font-size: 13px;
  cursor: pointer;
}

.mail i,
.call i {
  padding: 5px;
  cursor: pointer;
}

.link-box2,
.link-box3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.link-box2 h2,
.link-box3 h2,
.link-box4 h2 {
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 500;
}

.link-box2 a,
.link-box3 a {
  color: white;
  font-size: 13px;
  text-decoration: none;
}
.link-box2 li,
.link-box3 li {
  margin-top: 5px;
}
.link-box4 {
  width: 30%;
  font-size: 18px;
}

.link-box4 p {
  padding: 5px;
  font-size: 13px;
}
/* Footer section Ends */

/* Our course section Starts */
.foot {
  width: 100%;
  height: 160px;
  background: #2e5b95;
  overflow: hidden;
}
.footer-links {
  width: 95%;
  height: 100%;
  margin: 0px auto;
  color: white;
  padding: 10px 0px;
  text-align: justify;
}
.footer-links h2 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 5px auto;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  padding-left: 6px;
  font-size: 12px;
}
/*  Our course  section Ends */

/* Copyright section Starts */
.footer {
  background: #00306e;
  height: 40px;
  width: 100%;
}
.footer p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px;
}
/* Copyright section Ends */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* About Page CSS Starts */

/* About Top Section CSS Starts */
.about-container {
  width: 100vw;
  height: 500px;
  background-color: #00306e;
  margin: 10px auto;
}
.about-box {
  width: 90%;
  height: 450px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 50px auto;
}
.about-text {
  width: 50%;
  height: 400px;
}
.about-text h1 {
  font-size: 3rem;
  padding-left: 10px;
  text-transform: capitalize;
}
.about-text p {
  font-size: 1.2rem;
  text-align: justify;
}
.about-img {
  width: 35%;
  height: 400px;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* About Top Section CSS Ends */

/* About us bottom Section CSS Starts */
.about-bottom-container {
  width: 100vw;
  height: 600px;
  overflow: hidden;
  color: #595858;
}
.about-bottom {
  width: 90%;
  height: 580px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-below {
  width: 50%;
  height: 550px;
  text-align: justify;
}
.text-below p {
  font-size: 1.1rem;
}
.images-below {
  width: 35%;
  height: 400px;
}
.images-below img {
  width: 100%;
  height: auto;
}
.whatsapp-btn {
  position: fixed;
  bottom: 70px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  background-color: white;
  cursor: pointer;
}
.whatsapp-btn i {
  line-height: 36px;
  border-radius: 50%;
  z-index: 999;
  font-size: 50px;
  align-items: center;
  color: green;
  cursor: pointer;
}
.call-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: blue;
}
.call-btn i {
  padding: 6px;
  width: 100%;
  line-height: 35px;
  border-radius: 50%;
  z-index: 999;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
  color: white;
}
/* About us bottom Section CSS Ends */

/* About Vision Section CSS Starts */
.about-vision {
  width: 90%;
  height: 500px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #595858;
}
.about-boxes {
  width: 25%;
  height: 380px;
  box-shadow: 2px 1px 3px 2px grey;
  border-radius: 10px;
  cursor: pointer;
}
.vision-box,
.value-box,
.mission-box {
  width: 100%;
  height: 300px;
  position: relative;
}
.vision-box img,
.value-box img,
.mission-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -85px;
  left: 39%;
}
.vision-box h3,
.value-box h3,
.mission-box h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 50px;
  color: #00306e;
}
.vision-box p,
.value-box ul,
.mission-box p {
  font-size: 0.9rem;
  padding: 0px 35px;
  margin-top: 10px;
  text-align: justify;
  overflow: hidden;
}
.value-box li {
  list-style: disc !important;
  margin: 0px 20px;
}
/* About Vision Section CSS Ends */

/* About Our Associates Section CSS Starts */
.about-our-associates {
  width: 100%;
  height: 300px;
  overflow: hidden;
  color: #595858;
}
.associates-para {
  width: 90%;
  height: auto;
  margin: 0px auto;
  text-align: justify;
  font-size: 1.1rem;
}
.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100px;
  margin: 10px auto;
}
.img img {
  width: 10%;
  height: auto;
  box-shadow: 2px 2px 3px 1px grey;
  border-radius: 6px;
}
/* About Our Associates Section CSS Ends */

/* CTO CEO Msg Section CSS Starts */
.cto,
.ceo {
  width: 100%;
  height: 300px;
}
.cto-container,
.ceo-container {
  width: 90%;
  height: 220px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  overflow: hidden;
  box-shadow: 2px 1px 3px 2px grey;
}
.cto-container img,
.ceo-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cto-container p,
.ceo-container p {
  width: 900px;
  text-align: justify;
}
/* CTO CEO Msg Section CSS Ends */

/* Why Brillica Section CSS Starts */
.why-brillica-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  background-color: #00306e;
}
.why-para {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding: 30px 0px;
}
.why-brillica {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
}
.brillica-box {
  width: 24%;
  height: 70px;
  margin: 10px 0px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  padding: 15px;
  transition: transform 0.9s ease-in;
}
.brillica-box p {
  position: absolute;
  top: 0;
  left: 60px;
  font-size: 0.9rem;
  padding: 10px;
}
.brillica-box:hover {
  transform: rotateZ(-10deg);
  background-color: #0d6efd;
  color: white;
}
/* Why Brillica Section CSS Ends */

/* ABOUT PAGE CSS ENDS  */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx */
/* CONTACT PAGE CSS Starts  */

/* Contact Section Image CSS Starts */
.contact-container {
  width: 100%;
  height: 300px;
}
.contact-container img {
  width: 100%;
  height: 100%;
}
/* Contact Section Image CSS Ends */

/* Form Section CSS Starts  */
.form-container {
  width: 80%;
  margin: -30px auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00306e;
  margin-bottom: 50px;
}
.input-container {
  box-shadow: 2px -1px 3px 6px white;
  width: 50%;
  font-size: 1.5rem;
  color: #0e97aa;
  letter-spacing: 2px;
  font-weight: 600;
  height: 400px;
  background-color: #f6f6f6;
  padding: 20px 70px;
}
.in {
  width: 100%;
  color: #595858;
  padding: 10px 0px;
}
::placeholder {
  padding: 10px;
  font-size: 1rem;
}
.in input {
  width: 100%;
  border: navajowhite;
  border-bottom: 2px solid rgb(5, 5, 5);
  background-color: transparent;
  outline: none;
}
.address-container {
  width: 50%;
  height: 417px;
  margin: -30px auto;
  background-color: #00306e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.address-number,
.address-email,
.address-location {
  width: 100%;
  color: white;
  padding: 0px 20px;
  margin: 40px 0px;
  font-size: 1rem;
}
.address-number a,
.address-email a,
.address-location a {
  color: white;
  padding: 0px 10px;
  text-decoration: none;
}
.btn-input input {
  background-color: #11d4a1 !important;
  border: none;
  padding: 10px;
  border-bottom: 2px solid transparent !important;
  color: white;
  font-size: 1rem;
}
/* Form Section CSS Ends  */

/* Location Section CSS Starts  */
.location-section {
  width: 100%;
  height: 330px;
}
.location-para {
  text-align: center;
  color: #00306e;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline 3px #00306e;
  width: 100vw;
  height: 50px;
}
.location-box {
  display: flex;
  width: 90%;
  height: 250px;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.city {
  width: 24%;
  height: 230px;
  border-right: 2px solid #10a1b6;
  overflow: hidden;
}
.city h2 {
  text-align: center;
  color: #065561;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.city p {
  text-align: justify;
  font-size: 0.9rem;
  color: #808080;
}
.city i {
  font-size: 1rem;
  color: #808080;
  padding: 0px 10px;
  cursor: pointer;
}
.city a {
  text-decoration: none;
  color: #808080;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
}
.city-First-call,
.city-second-call {
  padding: 10px;
}
/* Location Section CSS Ends  */

/* Iframe Section CSS Starts  */
.iframe-container {
  width: 100vw;
  height: 400px;
  margin: 10px auto;
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
}
/*  Iframe Section CSS Ends */
/* CONTACT PAGE CSS ENDS */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* BLOG PAGE CSS Starts */
.blog-container {
  height: 300px;
  width: 100vw;
  margin-top: 120px;
}
.blog-head-img {
  height: 250px;
  width: 100%;
  box-shadow: 2px 3px 20px 1px grey;
}
.blog-head-img img {
  width: 100%;
  height: auto;
}
.pages-container {
  width: 100vw;
  height: 950px;
  position: relative;
}
.page-section-one {
  width: 90%;
  height: 450px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.blog-box {
  width: 28%;
  height: 380px;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
}
.blog-box-img {
  width: 100%;
  height: 230px;
  transition: all 1s ease-in-out;
}
.blog-box-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-box-img:hover {
  transform: scale(1.01);
}
.blog-box-text {
  font-size: 1rem;
  margin: 20px 0px;
  padding: 0px 10px;
}
.blog-box-para {
  color: #0c63e4;
  margin: 20px 0px;
  padding: 0px 10px;
}
.btn {
  height: 60px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
}
.btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: navajowhite;
  font-size: 1rem;
  cursor: pointer;
}

#two,
#three,
#four {
  display: none;
}
.top-btn {
  height: 50px;
  width: 50px;
  line-height: 30px;
  position: fixed;
  top: 400px;
  right: 0px;
  background-color: #00306e;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  z-index: 999;
  padding: 2px 0px;
  cursor: pointer;
}
.top-btn i {
  display: block;
}
.top-btn:hover {
  background-color: #0c63e4;
}
/* BLOG PAGE CSS ENDS */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ALL Courses PAGE Css Starts */
.course-list-container {
  width: 100%;
  height: 80vh;
}
.left-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.course-left-box {
  border-right: 10px solid #00306e;
  width: 33%;
  height: 100%;
  margin-top: 20px;
  font-size: 18px;
}
.course-left-box img {
  width: 20px;
  height: 20px;
  padding: 0px;
}
.course-left-box i {
  font-size: 16px;
  padding: 0px 10px;
}
.course-left-box li {
  padding: 5px 0px;
  margin-left: 60px;
  font-size: 16px;
}
.left-container li:hover {
  background-color: #fd7e14;
}
.right-shift {
  position: absolute;
  top: 0px;
  left: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 45%;
  height: auto;
}
.right-shift-2 {
  position: absolute;
  top: 120px;
  left: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 45%;
  height: auto;
  flex-wrap: wrap;
  display: none;
}
.course-left-box :hover .right-shift-2 {
  display: flex;
}
.right-box {
  width: 40%;
  height: 100px;
  margin-top: 10px;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 10px;
}
.right-box h1 {
  color: #00306e;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
}
.right-box span {
  font-size: 12px;
  padding: 10px 15px;
}
/* ENQUIRY PAGE CSS STARTS */
.enq-page-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 22, 22);
}
.enq-container {
  width: 50%;
  height: 400px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #f6f6f6;
  position: relative;
}
.enq {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.enq-input-container {
  width: 60%;
  height: auto;
  letter-spacing: 2px;
  font-weight: 600;
  height: auto;
  margin-top: -50px;
  padding: 10px 70px;
}
.enq-container h1 {
  padding: 20px 20px;
  font-size: 35px;
  text-transform: capitalize;
}
.enq-container i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
.img-container {
  width: 40%;
  height: auto;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.in {
  width: 100%;
  height: auto;
  color: #595858;
  padding: 10px 0px;
  margin-left: -40px;
}

.in input {
  width: 100%;
  border-bottom: 2px solid rgb(5, 5, 5);
  background-color: transparent;
  outline: none;
}
.btn-input button {
  background-color: aqua;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  border-radius: 5px;
}
